@import "../estilosComunes.css";
@import"../constantes.css";

.titulo-apilable{
    -fx-font-weight: bold;
    -fx-font-size: 12
}
.contenedor-apilable{
    -fx-border-width:1;
    -fx-padding: 2 10 2 10;
    -fx-border-radius: 9;
    -fx-background-radius: 10;
}