@import "../estilosComunes.css";
@import"../constantes.css";

.titulo{
    -fx-font-size: 16
}
.contenedor{
    -fx-padding: 2 10 2 10;
    -fx-border-radius: 9;
    -fx-background-radius: 10;
    -fx-background-color: derive(-fx-color-accion,40%),-fx-color-accion;
    -fx-background-insets: 0,1;
}
.button{
    -fx-background-color: transparent;
    -fx-cursor:hand;
}
.button{
    -fx-blend-mode: SOFT_LIGHT;
}
.button:hover{
    -fx-blend-mode: SRC_OVER;
}