@import "../estilosComunes.css";
@import"../constantes.css";

.titulo{
    -fx-font-size: 16
}
.contenedor,.contenedor-completado{
    -fx-padding: 2 10 2 10;
    -fx-border-radius: 9;
    -fx-background-radius: 10;
    -fx-background-insets: 0,1;
}
.contenedor{
    -fx-background-color: derive(-fx-color-accion,40%),-fx-color-accion;

}
.contenedor-completado{
    -fx-background-color: derive(-fx-color-accion,40%),derive(-fx-color-accion,-40%);
}
.button{
    -fx-background-color: transparent;
    -fx-cursor:hand;
}
.button{
    -fx-blend-mode: SOFT_LIGHT;
}
.button:hover{
    -fx-blend-mode: SRC_OVER;
}
.check-box .box{
    -fx-background-color: -fx-color-primario;
    -fx-border-color: -fx-color-blanco;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-cursor: hand;
}
.check-box:selected .box{
    -fx-background-color: -fx-color-primario, -fx-color-blanco;
    -fx-background-insets: 0,4;
}
.check-box > .box > .mark {
    -fx-background-color: null;
    -fx-shape: "";
}