@import "../estilosComunes.css";
@import"../constantes.css";

.titulo{
    -fx-font-size: 16;
    -fx-text-fill: -fx-color-blanco;
}
.contenedor,.contenedor-completado{
    -fx-padding: 2 10 2 10;
    -fx-border-radius: 9;
    -fx-background-radius: 10;
    -fx-background-insets: 0,1;
}
.contenedor{
    -fx-background-color: rgba(197, 119, 1, 0.1),rgba(197, 119, 1, 0.2), rgba(197, 119, 1, 0.4), rgba(197, 119, 1, 0.6), rgba(197, 119, 1, 0.8),derive(-fx-color-accion,40%),-fx-color-accion;
    -fx-background-insets: 0,0,0,0,0,0,1;
}
.contenedor-completado{
    -fx-background-color: rgba(129, 78, 0, 0.1),rgba(129, 78, 0, 0.2), rgba(129, 78, 0, 0.4), rgba(129, 78, 0, 0.6), rgba(129, 78, 0, 0.8),derive(-fx-color-accion,40%),derive(-fx-color-accion,-40%) !important;
}
.button{
    -fx-background-color: transparent;
    -fx-cursor:hand;
    -fx-blend-mode: SOFT_LIGHT;
}
.button:hover{
    -fx-blend-mode: SRC_OVER;
}
.check-box .box{
    -fx-background-color: -fx-color-primario;
    -fx-border-color: -fx-color-blanco;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-cursor: hand;
}
.check-box:selected .box{
    -fx-background-color: -fx-color-primario, -fx-color-blanco;
    -fx-background-insets: 0,4;
}
.check-box > .box > .mark {
    -fx-background-color: null;
    -fx-shape: "";
}
