@import "../constantes.css";

.raiz{
    -fx-alignment: TOP_CENTER;
    -fx-max-width: 250;
    -fx-min-width: 250;
    -fx-pref-width: 250;
    -fx-border-color: -fx-color-primario;
}
.date-picker {
    -fx-border-color: transparent;
}
.date-picker-popup .cell{
    -fx-cursor: hand;
    -fx-border-radius: 100%;
    -fx-border-width: 0;
    -fx-background-color: -fx-color-primario;
    -fx-text-fill: -fx-color-blanco;
    -fx-background-radius: 100%;
    -fx-min-height: 31px;
    -fx-min-width: 31px;
    -fx-max-width: 31px;
    -fx-max-height: 31px;
    -fx-padding: -1 0 0 -1;
}
.date-picker-popup > * > .today {
    -fx-underline: true;
    -fx-font-style: italic;
}
.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month {
    -fx-text-fill: derive(-fx-color-blanco,-55%);
}

.date-picker-popup .cell:hover{
    -fx-background-color: derive(-fx-color-primario,20%);
}
.date-picker-popup .cell.selected{
    -fx-border-width: 1;
}
.date-picker-popup .month-year-pane {
    -fx-background-color: -fx-color-primario;
    -fx-padding: 5 10 5 10;
}
.date-picker-popup .month-year-pane .label {
    -fx-text-fill: -fx-color-blanco;
    -fx-min-width: 60;
}
.date-picker-popup  .calendar-grid {
    -fx-background-color: -fx-color-primario;
    -fx-padding: 0;
}
.date-picker-popup  .day-name-cell,
.date-picker-popup .week-number-cell{
    -fx-text-fill: -fx-color-blanco;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: default;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: -fx-color-blanco;
    -fx-pref-height: 12;
}
.date-picker-popup .spinner .button .left-arrow{
    -fx-translate-x: -1;
}
.date-picker-popup .spinner .button .right-arrow{
    -fx-translate-x: 1;
}
.date-picker-popup .spinner .button{
    -fx-background-color: -fx-color-primario;
    -fx-min-width: 20;
    -fx-padding: 0 0 4 0;
    -fx-cursor: hand;
}
.date-picker-popup .spinner .button:hover{
    -fx-background-color: derive(-fx-color-primario,30%);
}
.date-picker-popup .spinner{
    -fx-font-size: 16;
}
.date-picker-popup {
    -fx-background-color: transparent;
    -fx-padding: 0;
}