@import "../constantes.css";
@import "../estilosComunes.css";
@import "../scrollBar.css";
.label{
    -fx-text-fill: -fx-color-blanco;
}
.dialog-pane {
    -fx-background-color: -fx-color-primario;
    -fx-padding: 0;
}
.boton-dia-completo{
    -fx-background-color: -fx-color-primario;
    -fx-border-color: -fx-color-blanco;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-cursor: hand;
}
.boton-dia-completo:selected{
    -fx-background-color: -fx-color-primario, -fx-color-accion;
    -fx-background-insets: 0,6;
}
.dialog-pane > .button-bar > .container > .button {
    -fx-background-color: -fx-color-primario;
    -fx-border-color: -fx-color-blanco;
    -fx-text-fill: -fx-color-blanco;
    -fx-cursor: hand;
}
.boton-dia-completo:hover, .dialog-pane > .button-bar > .container > .button:hover{
    -fx-effect: innershadow( gaussian , rgba(94, 107, 131, 0.5), 15 , 1 , 0 , 0 )
}
.date-picker .arrow-button {
    -fx-background-color: -fx-color-blanco;
    -fx-border-color: -fx-color-blanco;
    -fx-cursor: hand;
}

.date-picker .arrow-button:hover {
    -fx-effect: innershadow( gaussian , rgba(94, 107, 131, 0.5), 15 , 1 , 0 , 0 )
}

.date-picker .arrow-button .arrow {
    -fx-background-color: -fx-color-primario;
    -fx-min-height: 13;
    -fx-min-width: 13;
}
.boton-hora{
    -fx-background-color: -fx-color-primario,white,-fx-color-primario;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-background-insets: 0,1,2;
    -fx-cursor: hand;
}

.boton-hora:selected{
    -fx-background-color: -fx-color-accion,white,-fx-color-accion;
    -fx-text-fill: white;
}
.boton-hora:hover{
    -fx-effect: innershadow( gaussian , rgba(94, 107, 131, 0.5), 15 , 1 , 0 , 0 )
}

.borde-Y{
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1px;
    -fx-border-color: derive(-fx-color-primario,65%);
}

.list-view{
    -fx-border-color: -fx-color-blanco;
    -fx-background-color: -fx-color-primario;
}
.list-cell{
    -fx-background-color: -fx-color-primario;
    -fx-border-color: derive(-fx-color-primario,75%);
    -fx-text-fill: -fx-color-blanco;
}